{{> headerUsuario}}

<main class="container">

    <div class="d-flex center align-items-center justify-content-center position-relative"
        style="height: 30vh; margin-top: 38vh; margin-bottom: 2vh; z-index: 1000;">
        <img src="/images/img-u-pesquisaViagemPrincipal.png" alt="Garota contempla paisagem tropical">
    </div>

    <div class="d-flex flex-wrap my-4 align-items-center justify-content-center container position-absolute p-3 rounded-5"
        style="max-width: 1000px; background-color: #fff; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); z-index: 1001; left: 50%; transform: translateX(-50%); width: 800vh; height: 18vh; top: 92vh;">


        <div class="container p-4">
            <!-- div para barra de pesquisa de usuário administrador -->
            <div class="row mb-3 align-items-center justify-content-center w-100"
                style="height: 30px; margin-right: 50px; margin-top: -6px;">
                <form class="input-group w-75 h-10" id="searchForm" action="/viagem/resultados" method="GET">
                    <input type="text" class="form-control w-50 m-0" id="searchInput" name="query"
                        placeholder="Pesquise por Destino, Origem ou Título da viagem" value="{{query}}"
                        style="border-radius: 15px;">

                    <!-- Botão de pesquisa estilizado -->
                    <button class="btn btn-primary m-15" type="submit"
                        style="background-color: #99067E; border-radius: 50%; margin-top: -15px; margin-left: 30px; height: 5rem; width: 5rem; padding: 0;">
                        <img src="/images/icon-pesquisa-lupa.png" alt="Ícone de lupa - pesquisa" style="height: 2rem;">

                    </button>
                </form>
            </div>
        </div>

    </div>
    <!-- section com o container dos resultados -->
    <section class="container row mx-auto center" style="margin-top: 300px; margin-bottom: 200px;">
        {{#if buscaRealizada}}
        {{#if viagens.length}}
        <div class="row">
            {{#each viagens}}
            <div class="col-12 col-md-6 col-xl-4 pb-4">
                <div class="card rounded-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 text-start">
                                <h5 class="card-title">{{A03_TITULO}}</h5>
                            </div>
                            <div class="col-4 text-end">
                                <a href="/viagem/detalhes/{{id}}" style="color: #99067E;">Ver mais</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col card-text text-start">
                                {{A03_DATA_IDA}}
                            </div>
                            <div class="col card-text text-end">
                                {{A03_VAGAS}} participantes
                            </div>
                        </div>

                        <br>

                        <div class="row" style="line-height: 0.5rem;">
                            <p class="card-text"><b>Destino:</b> {{A03_DESTINO}}</p>
                            <p class="card-text"><b>Embarque:</b> {{A03_DATA_IDA}}</p>
                            <p class="card-text"><b>Retorno:</b> {{A03_DATA_VOLTA}}</p>
                            <p class="card-text"><b>Origem:</b> {{A03_ORIGEM}}</p>
                            <p class="card-text"><b>Estimativa de custo:</b> {{A03_CUSTO}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p>Nenhuma viagem encontrada.</p>
        {{/if}}
        {{else}}
        <div class="row">
            {{#each viagens}}
            <div class="col-12 col-md-6 col-xl-4 pb-4">
                <div class="card rounded-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 text-start">
                                <h5 class="card-title">{{A03_TITULO}}</h5>
                            </div>
                            <div class="col-4 text-end">
                                <a href="/viagem/detalhes/{{id}}" style="color: #99067E;">Ver mais</a>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col card-text text-start">
                                {{A03_DATA_IDA}}
                            </div>
                            <div class="col card-text text-end">
                                {{A03_VAGAS}} participantes
                            </div>
                        </div>

                        <br>

                        <div class="row" style="line-height: 0.5rem;">
                            <p class="card-text"><b>Destino:</b> {{A03_DESTINO}}</p>
                            <p class="card-text"><b>Embarque:</b> {{A03_DATA_IDA}}</p>
                            <p class="card-text"><b>Retorno:</b> {{A03_DATA_VOLTA}}</p>
                            <p class="card-text"><b>Origem:</b> {{A03_ORIGEM}}</p>
                            <p class="card-text"><b>Estimativa de custo:</b> {{A03_CUSTO}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </section>

    {{!-- <div class="container center d-flex justify-content-center align-items-center">
        <a href="#" class="btn btn-primary w-25">
            Ver mais resultados
        </a>
    </div> --}}

    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col">
            &nbsp;
        </div>
    </div>
</main>
{{> footer }}

<!-- link bootstrap icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.9.1/font/bootstrap-icons.min.css">
<script src="/scripts/a_pesquisaViagemResultados.js"></script>

<script>
    document.getElementById('searchInput').addEventListener('input', function () {
        if (this.value === '') {
            document.getElementById('searchForm').submit();
        }
    });
</script>