{{> headerUsuario}}
<main>
    <div class="container mt-4">
        <h1 style="color: #99067E; font-weight: bold; font-size: 28px; margin-bottom: 20px;">
            <a href="/perfil" style="color: #99067E; text-decoration: none;">Meu perfil</a>
        </h1>
    </div>
    <div class="container mt-2 rounded-4 border border-2 border-secondary" style="padding: 20px;">
        <div class="row" style="height: 65vh; overflow-y: auto;">
            <!-- coluna com o menu de opções para configurar o perfil da usuaria -->
            {{>menuPerfil}}
            <div class="col-md-9" style="padding-left: 0;">
                <div class="card border-0">
                    <div class="card-body">
                        <h3>Minhas Viagens</h3>
                        <div class="row">
                            <div class="col">
                                &nbsp;
                            </div>
                        </div>
                        <form>

                            <!-- Viagens concluidas -->
                            <div class="row mt-4">
                                <div class="col-md-10">
                                    <a class="h5" style="color: black;">
                                        Concluídas
                                    </a>
                                </div>
                            </div>

                            <!-- Linha separadora -->
                            <hr style="border: 1px solid black; margin-top: 3px; margin-bottom: 20px;">

                            <!-- Viagens listadas -->
                            <div class="row mt-4">
                                <div class="col-md-10">
                                    <a href="/viagem/detalhes/{{viagem.A03_ID}}" class="h6"
                                        style="color: black; cursor: pointer;">{{viagem.A03_TITULO}}</a>
                                </div>
                                <div class="d-flex mt-2">
                                    <p>{{viagem.A03_DATA_VOLTA}}</p>
                                    <p style="padding-left:2rem ;">{{viagem.A03_VAGAS}} Vagas</p>
                                </div>
                                <p>{{viagem.A03_SUBTITULO}}</p>
                            </div>

                            <div class="d-flex justify-content-between mt-3">
                                <a href="/perfil/concluidas/avaliacao/{{viagem.A03_ID}}"
                                    class="btn btn-sm text-white rounded-pill"
                                    style="background-color: #99067E; border-color: #99067E; margin-top:70px; padding: 5px 15px; width: 200px;">
                                    Avaliação
                                </a>
                                <a href="/perfil/concluidas/denuncia/{{viagem.A03_ID}}"
                                    class="btn btn-sm text-white rounded-pill"
                                    style="background-color: #B6090C; border-color: #B6090C; margin-top:70px; padding: 5px 15px; width: 200px;">
                                    Fazer denúncia
                                </a>
                            </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</main>