{{> headerUsuario}}
<main>
    <div class="container mt-4">
        <h1 style="color: #99067E; font-weight: bold; font-size: 28px; margin-bottom: 20px;">
            <a href="/perfil" style="color: #99067E; text-decoration: none;">Meu perfil</a>
        </h1>
    </div>

    <div class="container mt-2 rounded-4 border border-2 border-secondary" style="padding: 20px;">
        <div class="row" style="height: 65vh; overflow-y: auto;">
            {{> menuPerfil }}
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">


                            <div>
                                <h4 style="color: #99067E; font-weight: bold;">
                                    {{#if user.apelido}}
                                    {{user.apelido}}
                                    {{else}}
                                    {{user.nome}}
                                    {{/if}}
                                </h4>
                                <p style="font-size: 1.2rem; color: #6c757d;">
                                    <span style="color: #99067E;">⭐</span> {{user.nota}}
                                </p>
                            </div>
                        </div>
                        <p style="margin-top: 20px;">{{user.descricao}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>